{% extends 'base.html' %}

{% block app_content %}
    <div class="table-hover">
        <div class="row">
            <div class="col-sm-6 col-lg-4"><img width="256px" src="{{ user.avatar(256) }}"></div>
            <div class="col-sm-6" style="display: flex; flex-direction: column; justify-content: space-between; height:200px;">
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format("LLL") }}</p>{% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>

                {% if user == current_user %}
                    <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
<!--                    {% if not current_user.get_task_in_progress('export_posts') %}-->
<!--                    <p>-->
<!--                        <a class="btn btn-default" role="button" href="{{ url_for('main.export_posts') }}">Export your posts</a>-->
<!--                    </p>-->
<!--                    {% endif %}-->
                {% elif not current_user.is_following(user) %}
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Follow') }}
                    </form>
                {% else %}
                    <p>
                        <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Unfollow') }}
                        </form>
                    </p>
                    <p>
                        <a class="btn btn-default" role="button" href="{{ url_for('main.send_message', recipient=user.username) }}">
                                Message
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <br>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous {% if not prev_url %} disabled {% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next {% if not next_url %} disabled {% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}